<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Pixelmator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXM</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-pixelmatorteam-pixelmator-document</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmator.pxm</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXM</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-pixelmatorteam-pixelmator-document-package</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmatorteam.pixelmator.document-package</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXGradient</string>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Gradient</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmator.pxg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXPreset</string>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Image Preset</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmator.pxip</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Brush</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop.brush</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXBrush</string>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Brush</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmator.pxb</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Photoshop Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
				<string>8BIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Graphics Interchange Format Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple PICT Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Silicon Graphics Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sgi.sgi-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Truevision Targa Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.truevision.tga-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft icon</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JP2</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000 Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>WebP</string>
			<key>CFBundleTypeName</key>
			<string>WebP Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.webp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.pixelmatorteam.pixelmator.editing-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Camera RAW Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.camera-raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXShape</string>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Shape</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmator.pxs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PXStyle</string>
			<key>CFBundleTypeName</key>
			<string>Pixelmator Style</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixelmator.pxls</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Pixelmator</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.pixelmatorteam.pixelmator.trial</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pixelmator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.6</string>
	<key>CFBundleSignature</key>
	<string>PXMT</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>61014</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8B62</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16B2649</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0810</string>
	<key>DTXcodeBuild</key>
	<string>8B62</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Copyright 2016 Pixelmator Team Ltd.
All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>PXApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open with Pixelmator</string>
			</dict>
			<key>NSMessage</key>
			<string>loadDataFromExternalSource</string>
			<key>NSPortName</key>
			<string></string>
			<key>NSSendTypes</key>
			<array>
				<string>com.compuserve.gif</string>
				<string>public.tiff</string>
				<string>public.jpeg</string>
				<string>com.microsoft.bmp</string>
				<string>public.png</string>
			</array>
		</dict>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>4R6749AYRE.com.pixelmatorteam.pixelmator</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Pixelmator</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.pixelmatorteam.pixelmator.editing-document</string>
		<string>com.pixelmatorteam.pixelmator.editing-document-manual</string>
	</array>
	<key>PXCodename</key>
	<string>Cordillera</string>
	<key>QuartzGLEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Document</string>
			<key>UTTypeIconFile</key>
			<string>PXM</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmator.pxm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pxm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-pixelmatorteam-pixelmator-document</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Document</string>
			<key>UTTypeIconFile</key>
			<string>PXM</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmatorteam.pixelmator.document-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pxm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-pixelmatorteam-pixelmator-document-package</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Shape</string>
			<key>UTTypeIconFile</key>
			<string>PXShape.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmator.pxs</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.pixelmator.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PXS</string>
				<key>public.filename-extension</key>
				<array>
					<string>pxs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Gradient</string>
			<key>UTTypeIconFile</key>
			<string>PXGradient.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmator.pxg</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.pixelmator.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PXGT</string>
				<key>public.filename-extension</key>
				<array>
					<string>pxg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Brush</string>
			<key>UTTypeIconFile</key>
			<string>PXBrush.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmator.pxb</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.pixelmator.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PXBT</string>
				<key>public.filename-extension</key>
				<array>
					<string>pxb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Image Preset</string>
			<key>UTTypeIconFile</key>
			<string>PXPreset.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmator.pxip</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.pixelmator.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PXIP</string>
				<key>public.filename-extension</key>
				<array>
					<string>pxip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebP Image</string>
			<key>UTTypeIconFile</key>
			<string>WebP</string>
			<key>UTTypeIdentifier</key>
			<string>public.webp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://code.google.com/speed/webp/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pixelmator Style</string>
			<key>UTTypeIconFile</key>
			<string>PXStyle</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixelmator.pxls</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.pixelmator.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pxls</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Photoshop Brush</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.photoshop.brush</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>abr</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
